<% if product_line.valid? %>
<table class="product-line table">
  <caption><%= product_line.name %></caption>
  <thead>
    <% product_line.product_line_event_types.each do |plet| %>
      <%= event_header(plet) %>
    <% end %>
  </thead>
  <tbody>
    <% product_line.report.each do |event_type,plates| %>
      <td>
      <% plates.each do |plate| %>
        <%= render_plate(plate,event_type) %>
      <% end %>
      </td>
    <% end %>
  </tbody>
</table>
<% else %>
  <%= render partial: 'product_lines/invalid_product_line', locals: { product_line: product_line } %>
<% end %>
